.dockerenv
0x07-python-test_driven_development/
alx-higher_level_programming.git/
alx-system_engineering-devops/
bin/
dev/
etc/
lib/
lib32/
lib64/
libx32/
opt/
proc/
root/
run/
sbin/
simple_shell/
sys/
tmp/
usr/
var/
